h1,
h2,
p {
  text-align: center;
}

body {
}

#menu {
  width: 80%;
  border-color: red;
  border-width: 2px;
  border-style: solid;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
}
